*.pyc
__pycache__/
*.pyo
*.pyd
appbase/static/appbase/img/archive
staticfiles/appbase/img/archive
myapp/__pycache__/
myapp/migrations/__pycache__/
settings.py
debug.log
myproject/__pycache__/
myproject/settings.py

