html {
    font-size: 12px;
    width: 100%;
}
body {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    width: 100%;
}

.row-empty {
    background-color:#977f2f;
    height: 20px;
    width: 100%;
}

.row-table {
    width: 50%;
    overflow-x: auto;
}


/* Стиль для каждого контейнера формы */
.content-btn-dict {
    flex: 1 1 45%; 
    box-sizing: border-box; 
    padding: 10px; 
}
.content-btn-dict-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

/* Стиль для полей ввода */
.input-field {
    margin: 1px;
    flex-grow: 1; 
    min-width: 250px; 
}

label {
    display: block;
    margin: 1px;
}

input {
    width: 100%; /* Поля ввода занимают всю ширину контейнера */
    padding: 4px; /* Отступы внутри полей ввода */
    box-sizing: border-box; /* Учитывает padding и border при расчете ширины */
}


.content {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}

.table {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    table-layout: auto;
}

.table_2 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 99%;
    min-width: 700px;
}

.content-btn {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;    
}

.waves-effect {
    background-color: rgb(199, 138, 24);
}


.btn {
    height: 22px !important;
    line-height: 10px !important;
    padding: 7px;
    border-radius: 10px;
    max-width: 350px;
}

.delete {
    background-color: rgb(228, 53, 56);
}

.save {
    background-color: #26a646;
}


td, th {
    padding: 5px 5px;
}
input[type="checkbox"] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.right-btn {
    margin-left: auto;
}

/* УВЕДОМЛЕНИЯ ТОСТЫ */
.message-list {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    margin: 0;
  }
  
  .message-list li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  /* Пример стилей для разных типов сообщений */
  .message-list li.error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .message-list li.success {
    background-color: #d4edda;
    color: #155724;
  }

  .message-list li.warning {
    background-color: #c2ad79;
    color: #000000;
  }

  
  