{% load static %}
<!DOCTYPE html>
<html lang="ru">
  {% block styles %}
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">        
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
      <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">       
  </head>
  {% endblock %}   
  <body>
    {% block header %}
    <div class="row">
        <div class="content-btn">
          <a href="{% url 'myapp:start' %}" class="waves-effect waves-light btn">Назад</a>
        </div>        
    </div>
    {% if messages %}
        <ul class="message-list">
            {% for message in messages %}
            <li class="{% if message.tags %} {{ message.tags }} {% endif %}">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    {% endif %} 
    <div id="notifications"></div>
    <div class="row">
      <div class="table_2">
        <table class="highlight">
          <thead>
              <tr>
                  <th>Номер</th>
                  <th>Идентификатор</th>
                  <th>Наименование проекта</th>
                  <th>Позиции</th>
                  <th>Связано</th>
                  <th>Проверено (ССР)</th>
                  <th>Проверено (ССР+УНЦ)</th>                  
                  <th>Действия</th>
                  <th>Связать повторно</th>
                  <th>Проверен</th>
                  <th>Удалить</th>
              </tr>
          </thead>
          <tbody>
              {% for project_data in projects %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ project_data.project.project_code }}</td>
                      <td>{{ project_data.project.project_name }}</td>
                      <td>{{ project_data.num_records }}</td>
                      <td>{{ project_data.num_records_TX }}</td>
                      <td>{{ project_data.num_checked }}</td>
                      <td>{{ project_data.num_checked_byepc }}</td>
                      <td>
                          <a href="{% url 'myapp:object_analog_content_2' project_id=project_data.project.invest_project_id %}" class="waves-effect waves-light btn">Посмотреть</a>
                      </td>
                      <td>
                          <a href="{% url 'myapp:re_add_UNC_CCR_2' project_id=project_data.project.invest_project_id %}" class="waves-effect waves-light btn">Связать</a>
                      </td>
                      <td>
                          {% if project_data.num_checked_byepc == project_data.num_records_TX %}
                              <!-- Зелёный значок -->
                              <p style="color: #26a69a; font-size: 14px; font-weight: bold;">ПРОВЕРЕН</p>
                          {% else %}
                              <!-- Красный значок -->
                              <p style="color: rgb(228, 53, 56); font-size: 14px; font-weight: bold;">НЕ ПРОВЕРЕН</p>
                          {% endif %}
                      </td>
                      <td>
                          <a href="{% url 'myapp:delete_object_analog_2' project_id=project_data.project.invest_project_id %}" class="waves-effect waves-light btn delete">Удалить</a>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>        
    </div>

    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block scripts %}  
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>       
      <script>
        $(document).ready(function() {
            // Добавление файлов в текстовое поле
            $('input[type="file"]').on('change', function() {
                var fileNames = [];
                for (var i = 0; i < this.files.length; i++) {
                    fileNames.push(this.files[i].name);
                }
                $(this).closest('.file-field').find('.file-path').val(fileNames.join(', '));
            });
        });
      </script>
      <script>
          const socket = new WebSocket('ws://127.0.0.1:8000/ws/notifications/');

          socket.onopen = function(event) {
              console.log('WebSocket соединение установлено');
          };

          socket.onerror = function(error) {
              console.error('WebSocket ошибка:', error);
          };

          socket.onclose = function(event) {
              console.log('WebSocket соединение закрыто', event);
          };

          socket.onmessage = function(event) {
              const data = JSON.parse(event.data);
              const notificationsDiv = document.getElementById('notifications');
              if (notificationsDiv) {
                  const message = document.createElement('p');
                  message.innerText = data.message;
                  notificationsDiv.appendChild(message);
              } else {
                  console.error('Элемент с ID "notifications" не найден.');
              }
          };
      </script> 
    {% endblock %}    
    
  </body>
</html>