{% load static %}
<!DOCTYPE html>
<html lang="ru">
  {% block styles %}
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">        
      <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">                
      
      <link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}">
      <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">       
  </head>
  {% endblock %}   
  <body>
    {% block header %}
    {% if messages %}
          <ul class="message-list">
            {% for message in messages %}
              <li class="{% if message.tags %} {{ message.tags }} {% endif %}">
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      <div class="row">        
        <div class="content">
          <form action="{% url 'myapp:add_CCR' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-field input-field">
              <div class="btn">
                <span>ССP+ОСР</span>
                <input type="file" name="CCR">
              </div>                
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
              <button  class="waves-effect waves-light btn">Загрузить</button>
            </div>
          </form>
        </div>  
        <div class="content">
          <form action="{% url 'myapp:add_UNC' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-field input-field">
              <div class="btn">
                <span>Форма 20</span>
                <input type="file" name="UNC">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
              <button  class="waves-effect waves-light btn">Загрузить</button>
            </div>
          </form>
        </div>
        <div class="content-btn">
          <p>Очистить список:</p>
          <form method="post" action="{% url 'myapp:delete_temp' %}">
              {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn delete">Очистить</button>
          </form>
        </div>
        <div class="content-btn">
          <p>Алгоритм связывания</p>
          <a href="{% url 'myapp:migrate_data_to_main_tables' %}" class="waves-effect waves-light btn">разложить</a>
        </div>
        <div class="content-btn">
          <p>Ключевые слова:</p>
          <a href="{% url 'myapp:dict_word_page' %}" class="waves-effect waves-light btn">Открыть</a>
        </div>
        <div class="content-btn">
          <p>Объекты аналоги:</p>
          <a href="{% url 'myapp:object_analog' %}" class="waves-effect waves-light btn">Открыть</a>
        </div>
        <div class="content-btn">
          <p>Объекты аналоги_2:</p>
          <a href="{% url 'myapp:object_analog_2' %}" class="waves-effect waves-light btn">Открыть</a>
        </div>
      </div>  
      <div class="row">
        <div class="row-table">
          <div class="table">
            <table class="highlight">
              <thead>
                  <tr>
                      <th>ОСР, ЛСР</th>
                      <th>Наименование позиции затрат</th>
                      <th>СР</th>
                      <th>МР</th>
                      <th>Обору</th>
                      <th>Прочее</th>
                      <th>Итого</th>
                  </tr>
              </thead>
              <tbody>
                  {% for chapter_id, records in grouped_records.items %}
                      <tr>
                          <td colspan="8" style="font-weight: bold;">Глава {{ chapter_id }}</td>
                      </tr>
                      {% for record in records %}
                          <tr>
                              <td>{{ record.local_costEstimate_id }}</td>
                              <td>{{ record.expenses_name }}</td>
                              <td>{{ record.construction_cost }}</td>
                              <td>{{ record.installation_cost }}</td>
                              <td>{{ record.equipment_cost }}</td>
                              <td>{{ record.other_cost }}</td>
                              <td>{{ record.total_cost }}</td>
                          </tr>
                      {% endfor %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row-table">
          <div class="table">
            <table class="highlight">
              <thead>
                  <tr>
                      <th>id</th>
                      <th>Имя УНЦ</th>
                      <th>Имя объекта</th>
                      <th>U,кВ</th>
                      <th>Техническая</th>
                      <th>Кол-во</th>
                      <th>ЕД</th>
                      <th>номер</th>
                  </tr>
              </thead>
              <tbody>
                  {% for record in all_record_unc %}
                    <tr>
                        <td>{{ record.project_id }}</td>
                        <td>{{ record.name_unc }}</td>
                        <td>{{ record.name_object }}</td>
                        <td>{{ record.voltage }}</td>
                        <td>{{ record.TX }}</td>
                        <td>{{ record.count }}</td>
                        <td>{{ record.unit }}</td>
                        <td>{{ record.unc_code }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div> 
        </div>
      </div> 
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block scripts %}  
      <!-- Подключение jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
        $(document).ready(function() {
            // Добавление файлов в текстовое поле
            $('input[type="file"]').on('change', function() {
                var fileNames = [];
                for (var i = 0; i < this.files.length; i++) {
                    fileNames.push(this.files[i].name);
                }
                $(this).closest('.file-field').find('.file-path').val(fileNames.join(', '));
            });
        });
        </script>        
    {% endblock %}    
    
  </body>
</html>

